/*
Global
--------------------------------------*/

html {
  box-sizing: border-box;
  background-color: #eee;
  font-family: 'helvetica';
  font-size: 16px;
}

*, *:before, *:after { box-sizing: inherit; }

body {
  margin: 0;
  overflow-x: hidden;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}
.container {
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
}

/*
The Off-Canvas Navigation Menu
-----------------------------------------*/

.nav-bar {
  width: 0; /* 0 width - change this with JavaScript */
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: inset 0 0 10px black;
  overflow-x: hidden; /* Disable horizontal scroll */
  z-index: 1; /* Stay on top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav-bar a {
  display: block;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 19px 37px 19px 19px;
  border-bottom: 1px solid rgb(204,204,204);
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.nav-bar a:hover {
  background: linear-gradient(to left, transparent, rgb(142, 5, 5));
  color: #f1f1f1;
}
.nav-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav-bottom a {
  border-top: 1px solid rgb(204,204,204);
  border-left: 1px solid rgb(204,204,204);
  padding-bottom: 20px;
}
.nav-bottom a:hover {
  background: linear-gradient(to left, transparent, steelblue);
}

/* Style page content - Pushes the page content to the right when you open the side navigation */
#site-wrap {
  transition: margin-left .5s;
  padding: 0;
  position: relative;
  transition: left .5s;
}

/*********** Mobile Navbar Itself *********************/
#mobile-nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid gray;
  z-index: 1000;
}
#mobile-nav a { color: black; }

/********** Animated Menu Icon ***********/
#menu-icon {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  background-color: #333;
  width: 28px;
  height: 2px;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
/* Fade out the second bar */
.change .bar2 { opacity: 0; }
/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/*********** End Animated Menu Icon **************/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 800;
  transition: background-color .5s ease;
}
.branding {
  font-family: "Times New Roman";
  letter-spacing: -1px;
  text-align: center;
}
.branding h1 {
  display: inline-block;
  font-size: 6vw;
  margin: 0;
}

.branding a { text-decoration: none; }

.branding p {
  display: inline-block;
  margin: 0;
  font-size: 3vw;
}

.branding .subheading { display: block; }

.mobile-nav-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile-nav-btns a {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
}

/*
Alert banner
-------------------------------------------*/

#alert-banner {
  background-color: #8E0505;
  color: white;
  font-size: .75rem;
  line-height: 1.5;
  text-shadow: 2px 2px 5px black;
  min-height: 40px;
  margin-top: 44.8px;
}
#alert-banner a {
  color: white;
  text-decoration: none;
}
#alert-banner .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
}
.banner-top-side {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 13px;
}

.banner-top-side p { margin: 0; }

.banner-top-side span { font-size: .6rem; }

#alert-banner .banner-top-side a {
  text-decoration: underline;
}

.banner-right-side { text-align: right; }

.banner-right-side #login {
  background-color: white;
  color: #8E0505;
  font-weight: bold;
  text-shadow: none;
  padding: 5px 7px;
  border-radius: 7px;
}
.banner-right-side #login:hover {
  color: white;
  background-color: steelblue;
}
.banner-shop a {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-left: 10px;
}
.banner-shop a:before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.banner-shop a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*
Carousel
-----------------------------------------*/
.carousel-caption h1 { font-size: 1.5rem; }
.carousel-caption h2 { font-size: 1.3rem; }
.percentage          { font-size: 1.8rem; }

/*
New Arrivals
-----------------------------------------*/

.arrival-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: auto;
}
.arrival-items a {
  color: #8E0505;
  text-decoration: none;
}
.arrival-item,
.arrival-item-large {
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .3s;
}
.arrival-item:hover,
.arrival-item-large:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
.arrival-item img,
.arrival-item-large img { width: 100%; }

.arrival-item-large {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.arrival-item-large .item-details { grid-column: 1/3; }

.colors {
  display: inline-block;
  background-color: black;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
}

/*
Vanity Collection
--------------------------------------*/

#vanity-collection {
  background: linear-gradient(rgba(132, 45, 98, 0.4),rgba(132, 45, 98, 0.4)), url("../images/pexels-photo-429248.jpg") no-repeat center;
  background-size: cover;
  color: white;
  text-align: right;
  min-height: 500px;
}

#vanity-collection .container { padding-top: 150px; }

#vanity-collection h2 { text-align: right; }

#vanity-collection h3 { font-size: 1.6rem; }

.banner-btn {
  display: inline-block;
  background-color: white;
  color: #8E0505;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 9px 13px;
  margin-top: 25px;
  border-radius: 7px;
}
.banner-btn:hover {
  color: white;
  background-color: steelblue;
}

/*
Shop Men & Women
------------------------------------------*/

#shop-men-women {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(160px, auto);
  position: relative;
  text-align: center;
  font-size: 1.3rem;
}
.shop-men {
  background: linear-gradient(rgba(0,0,0, 0),rgba(0,0,0,0.6)), url("../images/model-2911330_1920.jpg") no-repeat center;
  background-size: cover;
  position: inherit;
}
.shop-women {
  background: linear-gradient(rgba(0,0,0, 0),rgba(0,0,0,0.6)), url("../images/pexels-photo-206461.jpg") no-repeat center;
  background-size: cover;
  position: inherit;
}
.shop-men a, .shop-women a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding-bottom: 10px;
  margin-left: 20px;
}
#shop-men-women a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: 4px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#shop-men-women a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*
Clothing Displays
--------------------------------------------------*/



/*
Footer
--------------------------------------------------*/

#footer h4 {
  font-size: 1.4rem;
  margin: 0;
}
#footer ul {
  padding-left: 0;
  list-style: none;
}
.input-email, #email-signup-form button {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  margin: 20px 0;
}

.input-email { padding: 10px; }

#email-signup-form button {
  background-color: white;
  color: #8E0505;
  padding: 10px;
  border: 0;
}
#email-signup-form button:hover {
  background-color: steelblue;
  color: white;
}
.subscribed {
  background-color: #4cbb17;
  color: white;
  font-size: .9rem;
  padding: 10px;
  margin: 10px 0 15px;
  opacity: 0;
  transition: all .7s;
}
.footer-section a {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 7px 0;
}
.footer-section a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: 4px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.footer-section a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.footer-section p,
.footer-section p a { font-size: .75rem; }

.social, #legal { text-align: center; }

.social li {
  display: inline-block;
  font-size: 1.6rem;
  margin: 8px .8rem;
}

.social a { color: black; }

.social a:hover,
.footer-section p a { color: #8E0505; }

.social-headline { margin-bottom: 1rem; }

/****************************************************

MEDIA QUERIES

*****************************************************/

/* Extra small devices (portrait phones, less than 576px)*/

/* Custom*/
@media (max-width: 443px) {
  html { font-size: 12px; }
}
@media (min-width: 444px) {
  html         { font-size: 16px; }
  .branding h1 { font-size: 1.8rem; }
  .branding p  { font-size: .8em; }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*
  Carousel
  -----------------------------------------*/
  .carousel-caption h1 { font-size: 3rem; }
  .carousel-caption h2 { font-size: 2rem; }
  .percentage          { font-size: 3.3rem; }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  html { font-size: 20px; }

  /* Alert Banner
  ------------------------------------*/
  #alert-banner .container {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding: 20px 0 0;
    margin: 0;
  }
  .banner-top-side   { grid-column: 1/4; }
  .banner-right-side { text-align: center; }

  /*
  Shop Men and Women
  ---------------------------------------*/
  .shop-men, .shop-women { height: 380px; }

  /*
  Footer
  ---------------------------------------*/

  /*Grid Setup*/
  #footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #email-signup         { grid-column: 1/3; }
  #customer-assistance  { grid-column: 3/5; }
  #social-links, #legal { grid-column: 1/5; }

  .footer-section {
    text-align: left;
    padding: 0 20px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  /*
  Navigation Bar
  ------------------------------------------------*/
  .nav-bar {
    grid-column: 1/3;
    position: static;
    background-color: white;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  /* The navigation menu links */
  .nav-bar a {
    display: inline-block;
    position: relative;
    font-size: .75rem;
    text-align: center;
    padding: 20px;
    border-bottom: none;
  }
  .nav-bar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-bottom: 4px;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-bar a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* When you mouse over the navigation links, change their color */
  .nav-bar a:hover {
    background: none;
    color: transparent;
  }
  .nav-bottom {
    display: inline-block;
    position: static;
    width: auto;
  }
  .nav-bottom a {
    padding-bottom: 20px;
    border: none;
  }
  .nav-bottom a:hover { background: none; }

  #site-wrap {
    position: static;
    padding: 0;
  }
  #mobile-nav {
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: static;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  #menu-icon, #login { display: none; }

  .branding {
    text-align: left;
    padding-bottom: 9px;
  }

  .branding h1,
  .branding p { display: inline-block; }

  .mobile-nav-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #alert-banner { margin-top: 0; }

  #alert-banner .container {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
  }

  .arrival-items { grid-template-columns: 1fr 1fr 2fr; }

  .arrival-item-large {
    grid-column: 3/4;
    grid-column-gap: 0;
  }
}
